:root {
  --foreground-color: #121212;
  --background-color: #edf0f0;
  --background-shade: #fff;
  --accent-color: antiquewhite;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #edf0f0;
    --background-color: #121212;
    --background-shade: #000;
    --accent-color: #483b29;
  }
}

html,
body {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  color: var(--foreground-color);
  background: var(--background-color);
}

textarea:focus,
input:focus {
  outline: none;
}
